{{ partial "header.html" . }}
<article>
	<div class="wtf">
		<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	</div>
	<div class="minou">
{{ .Content }}
	</div>
</article>
{{ partial "footer.html" . }}
