<footer>
<a href="{{ .Site.BaseURL }}archives" title="Archives">ar<span class="hu">ch</span><span class="ho">iv</span>es</a> ~ 
<a href="{{ .Site.BaseURL }}about" title="A-propos...">?<span class="hu">?</span><span class="ho">?</span></a>
</footer>
</main>{{ if .Params.art }}
	<script>
		/* <![CDATA[ */ !window.jQuery && document.write('<script src="/js/jquery.js"><\/script>'); /* !]]> */
	</script>
		<script src="/js/zoombox.js"></script>
		<script>
			jQuery(function($){
				$('a.zoombox').zoombox();
				$('a.zoombox').zoombox({
					theme		: 'zoombox',
					opacity		: 0.4,
					duration	: 600,
					animation	: true,
					width		: 1000,
					height		: 800,
					gallery		: true,
					autoplay	: false
				})
		    })
		</script> {{ end }}
	</body>
</html>
