<!DOCTYPE html>
<html lang="fr">
    <head>
	<title>{{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <meta name="author" content="{{ .Params.author }}">
        <link rel="author" href="{{ .Site.BaseURL }}humans.txt">
		{{ .Hugo.Generator }}
        <meta name="description" content="Derniers télégrammes avant la nuit">
        <meta name="keywords" content="miaouw, chat, gloups">
        <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="miAouw">
        <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
        <link rel="manifest" href="{{ .Site.BaseURL }}site.webmanifest">
        <link rel="mask-icon" href="{{ .Site.BaseURL }}safari-pinned-tab.svg" color="#fffdf9">
        <meta name="msapplication-TileColor" content="#fffdf9">
        <meta name="theme-color" content="#fffdf9">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/miw.css">
        {{ if .Params.art }}<link rel="stylesheet" href="{{ .Site.BaseURL }}js/zoombox.css">
</head>{{ end }}{{ if not .Params.art }}</head>{{ end }}
<body>
<main>
<header>
	<div id="cat"></div>
	<div id="dog">
		<nav id="menu">
			<ul>
				<li class="titrebase"><a href="{{ .Site.BaseURL }}" title="Accueil">DERNIERS TÉLÉGRAMMES AVANT LA NUIT</a></li>
			</ul>
		</nav>
	</div>
</header>
