<div class="pagination">{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}{{ if .Paginator.HasPrev }}
    	<span class="pnewer"><a href="{{.Paginator.Prev.URL}}" title="Page précédente"><span class="prec">&laquo;</span> précédente</a></span>{{ end }}{{ end }}
	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}<span class="pagesur">page {{ .Site.Data.l10n.pagination.page }}{{ .Paginator.PageNumber}}/{{ .Site.Data.l10n.pagination.of }}{{.Paginator.TotalPages}}</span>{{ end }}{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}{{ if .Paginator.HasNext }}
	<span class="polder"><a href="{{.Paginator.Next.URL}}" title="Page suivante">suivante <span class="suiv">&raquo;</span></a></span>{{ end }}{{ end }}
</div>
