/*
@autor : mAdours https://madours.org
@date  : 2023
/* -------------------------------------------------------- GLOBAL */
@font-face {
 font-family: "boheme";
 src: url("fonts/boheme.woff2") format("woff2"),
  url("fonts/boheme.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}
* {
 margin: 0;
 padding: 0;
 border: 0;
 text-decoration: none;
}
body {
 font-family: "boheme", monospace;
 font-size: 12pt;
 color: #31373a;
 background-color: #fffdf9;
}
span,
p,
ul,
ol,
table,
td,
th,
hr,
blockquote,
input,
textarea {
 margin-bottom: 1.2em;
 line-height: 1.5em;
}
img {
 max-width: 100%;
 height: auto;
}
em {
 color: #666;
}

h1,
h2,
h3,
h4 {
 font-size: 12pt;
 font-weight: normal;
}
a {
 text-decoration: none;
 color: #186e89;
}

a:hover {
 text-decoration: none;
 color: #888;
}

a:active {
 text-decoration: none;
 color: #888;
}

/* -------------------------------------------------------- MAIN */
main {
 margin: 0 auto;
 max-width: 800px;
 width: 90%;
 padding-bottom: 3em;
}

/* -------------------------------------------------------- HEADER */
header {
 margin-top: 0.6em;
 margin-bottom: 2em;
 color: #880000;
}

header a {
 color: #186e89;
}
header a:hover {
 color: #880000;
}
#cat {
 display: inline-block;
}

#dog {
 float: right;
 clear: both;
}
h3 {
 margin: 2em 0 1em 0;
 font-weight: bold;
}
h3:before {
 content: ":: ";
}

/* -------------------------------------------------------- MENU */
nav ul {
 text-align: right;
 clear: both;
}

nav li.titrebase a {
 color: #186e89;
}
nav li.titrebase a:hover {
 color: #aaa;
}
nav li {
 text-transform: uppercase;
 display: inline;
 list-style: none;
 color: #aaa;
}
nav li:before {
 margin-right: 7px;
 content: "~";
 font-size: 1.3em;
 position: relative;
 font-weight: bold;
 top: 0.1em;
 display: inline;
}
nav li:after {
 margin-left: 7px;
 content: "~";
 font-size: 1.3em;
 position: relative;
 font-weight: bold;
 top: 0.1em;
 display: inline;
}

/* -------------------------------------------------------- ARTICLE */
article {
 margin-top: 0px;
 margin-bottom: 0px;
}

/* -------------------------------------------------------- DATE */
.date {
 width: auto;
 color: #888;
}
.date h2 {
 font-size: 12pt;
}
.date h2:first-letter {
 text-transform: uppercase;
}
.heure {
 font-size: 11pt;
 color: #888;
}
.heure:before {
 content: " - ";
}
.heure_title {
 color: #888;
}
.heure_title:before {
 content: " - ";
}
/* -------------------------------------------------------- MINOU */
.minou {
 margin-left: 1.25em;
 margin-top: 0.95em;
 margin-bottom: 3em;
}
.readmore {
 text-transform: lowercase;
 text-align: right;
}
/* --------------------------------------------- Pagination +/- rÃ©cent */

.paging {
 font-size: 10pt;
 text-align: center;
 color: #666;
}
.paging a {
 color: #408080;
}
.paging a:hover {
 color: #888;
}
/* -------------------------------------------------------- PAGINATION */
.pagination {
 padding-top: 1em;
 text-align: center;
 font-size: 10pt;
}
.pagination a {
 color: #257725;
}
.pagination a:hover {
 color: #888;
}
.pagesur {
 color: #666;
}
.pnewer a:after {
 content: " -";
 color: #666;
}
.polder a:before {
 content: "- ";
 color: #666;
}
/* -------------------------------------------------------- FOOTER */
footer {
 clear: both;
 border-top: 1px dashed #444;
 margin-top: 1.5em;
 color: #888;
 font-size: 0.9em;
 text-align: right;
 margin-bottom: 1em;
 padding-top: 0.3em;
 /*font-variant-caps: all-small-caps;*/
}
footer a {
 color: #186e89;
}
footer a:hover {
 color: #5e6f8e;
}

/* -------------------------------------------------------- ARCHIVES */
.archi {
 margin-left: 1.25em;
 margin-top: 0.95em;
 margin-bottom: 3em;
}
.archi li {
 list-style-type: none;
}
.archi li:before {
 content: "~ ";
}
h4.arch {
 text-transform: uppercase;
}
h4.arch_an {
 text-align: center;
}
.archititle {
 text-transform: lowercase;
}
.toto {
 text-align: right;
 clear: both;
}
.toto span {
 float: left;
}

/* -------------------------------------------------------- MAIL */
.inv_mail {
 unicode-bidi: bidi-override;
 direction: rtl;
 color: #666;
}
.arobaze:before {
 content: "ofni.wuoaim";
 color: #876445;
 padding-left: 0.2em;
}
.arobaze:after {
 content: "tac";
 color: #876445;
 padding-right: 0.2em;
}

/* -------------------------------------------------------- Mise en Page divers */
.rond img {
 border-radius: 5%;
}

.noir {
 color: #101010;
}
.gris {
 color: #666;
}
.justify {
 text-align: justify;
}
.left {
 float: left;
 padding: 0.5em 1.5em 0.5em 0em;
}
.leftmo {
 float: left;
 padding: 0.5em 0.9em 0.5em 0em;
}
.right {
 float: right;
 padding: 0.5em 0em 0.5em 1.5em;
}
.rightmo {
 float: right;
 padding: 0.5em 0 0.5em 0;
}
.center {
 text-align: center;
}
.adroite {
 text-align: right;
}
.bold {
 font-weight: bold;
}
.ital {
 font-style: italic;
}
.aparte {
 font-style: italic;
 color: #888;
}
.legend {
 font-style: italic;
 color: #666;
 font-size: 0.8em;
}
.small {
 font-size: 0.8em;
}
.serif {
 font-family: serif;
}
.mono {
 font: normal 1.1em monospace;
}
.code {
 display: block;
 margin: 0 0 0 0.5em;
 text-align: left;
 color: #777;
 font: normal 0.9em monospace;
}
.author {
 font-variant: small-caps;
}
.latin {
 font: italic 1.2em "Times New Roman", Times, serif;
}
.strike {
 text-decoration: line-through;
 color: #9e9e9f;
}
.cite {
 display: block;
 margin: 0 20px 0 10px;
 padding: 0 0 0 12px;
 border-left: 10px solid #333;
 font-style: italic;
}
.imgcite {
 text-align: center;
 font: italic 0.8em sans-serif;
 color: #be0c0c;
}
.sep {
 margin: 0 auto;
}
.marge-gauche {
 margin-left: 250px;
}
.clear {
 visibility: hidden;
 clear: both;
 margin: 0;
 padding: 0;
}
.smallgris {
 font-size: 0.8em;
 color: #666;
}
.smallr {
 font-size: 0.8em;
 color: #666;
}
.erase {
 background: #fffdf9 url(erase.png) repeat-x center;
 text-decoration: line-through;
}
.souligne {
 background: #fffdf9 url(souligne.png) repeat-x bottom;
}
pre {
 word-break: break-all;
 word-wrap: break-word;
 white-space: pre;
 white-space: -moz-pre-wrap;
 white-space: pre-wrap;
}
.groar {
 position: relative;
 bottom: 0.1em;
 display: inline;
}
.groarr {
 position: relative;
 top: 0.1em;
 display: inline;
}
a:hover .hu {
 position: relative;
 top: 0.1em;
 display: inline;
}
a:hover .ho {
 position: relative;
 bottom: 0.1em;
 display: inline;
}
.inclineb {
 transform: rotate(+1.5deg);
}
.inclinea {
 transform: rotate(-1.5deg);
}
/*------------------------------------------------------ ZOOM ------- */

.zoom {
 display: inline-block;
 width: auto;
 margin: 3px;
 padding: 3px;
 border: 1px dotted #999;
 border-radius: 5px;
 text-align: center;
}
.zoom img {
 margin: auto;
 padding: 0;
 border: none;
 opacity: 1;
 background: #666;
 filter: alpha(opacity=100);
}
.zoom a {
 text-decoration: none;
 color: #666;
}

div.zoom:hover {
 border: 1px dotted #bbb;
 background: #bbb;
}
div.zoom:hover img {
 opacity: 0.6;
 filter: alpha(opacity=50);
}
span.zoomomie:hover img {
 opacity: 0.4;
 filter: alpha(opacity=40);
}
.con a {
 border: 0px;
}
/*--------------------------------------------------------- Centrer img : */
/* exemple : ![Title](/your-image-url/image.png#center) */
img[src$="#center"] {
 display: block;
 margin: 0.5em auto;
 max-width: 100%;
 height: auto;
}
img[src$="#right"] {
 display: block;
 float: right;
 max-width: 100%;
 height: auto;
}
img[src$="#left"] {
 display: block;
 float: left;
 max-width: 100%;
 height: auto;
}
/* -------------------------------------------------------- Mise en Impression */

@media print {
 main ul,
 li {
  display: none; /* On vire le menu */
 }
 footer {
  display: none; /* On vire le pied de page */
 }
 #cat h1 a[href]:after {
  content: " https://madours.org"; /* On imprime quand-mÃƒÂªme l'URL du minou =p */
 }
}
.marron {
 color: #876445;
}

