{{ partial "header.html" . }}
<h4 class="archmonth">{{ .Date.Year }} :</h4>
<div class="archi">
   <ul>{{ range .Data.Pages }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }} - {{ .Description }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span>{{ .Description }}</a></li>{{ end }}
   </ul>
</div>
{{ partial "footer.html" . }}
