{{ partial "header.html" . }}
<article>
	<div class="date">
		<h2><a href="{{ .Permalink }}" title="{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}">{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></h2>
	</div>
	<div class="minou">
        {{ .Content }}	</div>
</article>
<div class="paging">
         {{if .NextPage }}&laquo; <a href="{{ .NextPage.RelPermalink }}" title="{{.NextPage.Title}}">post suivant</a>  {{ if not .Params.nodate }}:: {{ end }} {{ end }} 
          {{ if not .Params.nodate }}{{if .PrevPage }}<span class="toto"><a href="{{ .PrevPage.RelPermalink }}" title="{{.PrevPage.Title}}">post précédent</a> &raquo;{{ end }}</span>{{ end }} 
</div>
{{ partial "footer.html" . }}
