{{ partial "header.html" . }}{{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.sectionsInHomepage ) }}{{ range $paginator.Pages }}
<article>
	<div class="date">
		<h2><a href="{{ .Permalink }}" title="{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}">{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></h2>
	</div>
	<div class="minou">
 {{ .Content }}	</div>
</article>
{{ end }}
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}
