{{ partial "header.html" . }}
{{ range (.Site.RegularPages.GroupByDate "January 2006") }}

<h4 class="archmonth">{{ .Key }}</h4>
<div class="archi">

   {{ range (where .Pages "Type" "2024" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2023" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2022" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2021" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2020" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2019" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2018" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2017" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2016" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2015" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
   {{ range (where .Pages "Type" "2014" ) }}
      <li class="archititle"><a href="{{ .RelPermalink }}" title='{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} - {{ .Date.Format "15h04" }}'>{{ index $.Site.Data.jours (printf "%d" .Date.Weekday) }} {{ dateFormat "02" .Date.Local }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} <span class="heure"> {{ .Date.Format "15h04" }}</span></a></li>{{ end }}
</div>
{{ end }}
{{ partial "footer.html" . }}
