<a href="{{ .Get "gd_url" }}" title="{{ .Get "titre" }}" class="zoombox">
<span class="{{ .Get "style" }}"><img src="{{ .Get "min_url" }}" alt="{{ .Get "alt" }}" class="{{ .Get "align" }}" width="{{ .Get "width" }}" height="{{ .Get "height" }}" /></span></a>
